page-group-overview {


  .group-overview {

    background-image: url("../assets/img/productgroups/background.jpg");
    background-size: cover;
    background-color: transparent;

    .col {
      padding: 20px;
    }

    .h2 {
      height: 50px;
    }

    img {
      width: 100%;
    }

  }

}
