page-product-presentations {

  .product-presentations{

    background-image: url("../../../assets/img/news/background.jpg");
    background-size: cover;

    font-size: 1.5rem;

    p{
      margin : 0 0 20px 0;
    }

    .dateformat {
      color : #00A6EB;
    }

  }

}
