<ion-content class="newproducts" padding>

  <div class="pageInnerContent">

    <!-- CONTENT TITLE -->
    <div class="contenttitle">
      <ion-title>New Products</ion-title>
    </div><!-- END CONTENT TITLE -->

      <ion-row>
        <ion-col>
          <p style="margin: 10px">
            Our detailed product pages provide you with all relevant in-depth information on a single page.<br>
            You have a free access to download technical data and fact sheets
          </p>
        </ion-col>
      </ion-row>

      <ion-row responsive-sm responsive-md responsive-lg>
        <ion-col width-25 *ngFor="let card of productNewList">
          <ion-item class="bla">
            <div class="itemheadline">{{card.productName}}</div>
            <div class='link' (click)="openDataSheet(card.techfile)">
              <img src="assets/img/downloadicon.png" width=20 height=20 style="vertical-align: middle" />
              <span *ngIf="card.techfile">Technical Data Sheet</span>
              <span *ngIf="!card.techfile">not available</span>
            </div>
            <div class="link" (click)="openDataSheet(card.safefile)">
              <img src="assets/img/downloadicon.png" width=20 height=20 style="vertical-align: middle" />
              <span *ngIf="card.safefile">Safety Data Sheet</span>
              <span *ngIf="!card.safefile">not available</span>
            </div>
            <div class="link" (click)="openDataSheet(card.factfile)">
              <img src="assets/img/downloadicon.png" width=20 height=20 style="vertical-align: middle" />
              <span *ngIf="card.factfile">Fact Sheet</span>
              <span *ngIf="!card.factfile">not available</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>

</ion-content>
