page-transportation {

  .transportation{

    background-image : url("../assets/img/markets/background.jpg");
    background-size  : cover;
    background-color : transparent;

    color : #777;

    p{
      color : #777 !important;
    }

    .infotext{
      font-size : 1.6rem;
      margin-bottom: 40px;

      p{
        margin : 0 0 6px 0;
      }
    }

    img {
      width: 100%;
    }

  }
}
