<ion-content class="home card-background-page">

  <ion-grid>

    <ion-row center responsive-sm responsive-md  responsive-lg>



      <!-- BYK NEWS -->
      <div style="width:25%; float:left" class="slideContainer {{slideContainer1}}" [ngClass]="{'sideanimated': slideContainer1 !== '' }">

        <!-- Ion-card -->
        <div  class="slideinner">

          <div class="frontface" (tap)="openSlideContainer1()">
            <img src="assets/img/home/item1.jpg" [@visibilityImgChanged]="showImgC1"/>
          </div>

          <div class="backface {{slideBackface1}}" [ngClass]="{'blabla': slideBackface1 }">
            <ion-list>
              <ion-item *ngFor="let L1 of byknews" (tap)="openPage(L1)" [ngClass]="{active: L1.selected==true}">{{L1.title}}</ion-item>
            </ion-list>
          </div>
        </div><!-- End Ion-card -->

      </div><!-- END NEWS-->



      <!-- MARKETS -->
      <div style="width:25%; float:left" class="slideContainer {{slideContainer2}}" [ngClass]="{'sideanimated': slideContainer2 !== '' }">

        <!-- Ion-card -->
        <div class="slideinner">

          <div class="frontface" (tap)="openSlideContainer2()">
            <img src="assets/img/home/item2.jpg" [@visibilityImgChanged]="showImgC3"/>
          </div>

          <div class="backface {{slideBackface2}}" [ngClass]="{'blabla': slideBackface2 }">
            <ion-item *ngFor="let L1 of markets" (click)="openPage(L1)" [ngClass]="{active: L1.selected==true}">{{L1.title}}</ion-item>
          </div>

        </div><!-- End Ion-card -->

      </div><!-- END MARKETS -->


    </ion-row>

  </ion-grid>

</ion-content>
