page-viscosity {

  .viscosity {

    background-image: url("../assets/img/productgroups/background.jpg");
    background-size: cover;
    background-color: transparent;

    font-size: 1.5rem;

    .col {
      padding: 20px;
    }

    .h2 {
      height: 50px;
    }

  }
}
