page-weeting-dispersing {

  .weeting-dispersing {

    background-image: url("../../../assets/img/productgroups/background.jpg");
    background-size: cover;

    .col{
      padding: 20px;
    }

    .h2{
      height: 50px;
    }

    img {
      width : 100%;
    }
  }

}