page-weeting-dispersing {

  .weeting-dispersing {

    background-image : url("../assets/img/productgroups/background.jpg");
    background-size  : cover;
    background-color : transparent;

    font-size : 1.5rem;

    .col{
      padding: 20px;
    }

    .h2{
      color : #00abef;
    }

    p{
      margin : 0 0 20px 0;
    }

  }

}