page-product-ov-details {
  .product-ov-details {
    padding: 20px;
    border: 1px solid #c0c0c0;

    background-image: url("../../../assets/img/news/background.jpg");
    background-size: cover;
  }

}
