page-product-ov-details {
  .product-ov-details {
    padding: 20px;
    border: 1px solid #c0c0c0;

    background-image: url("../assets/img/news/background.jpg");
    background-size: cover;


    .bla {
      border-bottom : 1px solid #eee;
      border-right  : 1px solid #eee;
      padding       : 10px;

      img{
        margin-right: 8px;
      }

      .itemheadline {
        font-size     : 2rem;
        margin-bottom : 15px;
        color         : #00abef;
      }

      p{
        margin-bottom : 8px;
        color         : #999
      }

      &:nth-child(4n) {
          border-right: none !important;
      }

    }

  }

}
