page-brands {
  .brands{

    background-image: url("../../../assets/img/productsolutions/background.jpg");
    background-size: cover;

    .pageInnerContent{
      padding: 0;
    }

    img{
      width : 100%;
    }
  }
}
