page-brands {
  .brands{

    background-image : url("../assets/img/productsolutions/background.jpg");
    background-size  : cover;
    background-color : transparent;

    .pageInnerContent{
      padding: 0;
    }

    img{
      width : 100%;
    }
  }
}
