page-data-glance {

  .data-glance {

    .pageInnerContent{
      padding: 0;
    }

    background-image : url("../assets/img/byk/background.jpg");
    background-size  : cover;
    background-color : transparent;

    img {
      width: 100%;
      auto: height;
    }
  }
}
