page-shownews {

  .shownews {
    background-image : url("../assets/img/news/background.jpg") !important;
    background-size  : cover;
    background-color : transparent;

    ion-item {
      color: #00abef;
      font-size: 1.6rem;
    }

    .item-inner{
      border : none;
    }

  }
}
