<ion-content padding class="technicalbrochures">

    <div class="pageInnerContent">
        <!-- CONTENT TITLE -->
        <div class="contenttitle">
            <ion-title>Technical Broschures</ion-title>
        </div><!-- END CONTENT TITLE -->

        <ion-row>
            <ion-col width-50>
                <ion-label>Select a category</ion-label>
                <ion-item  class="bla bdrr bdrl bdrt bdrb" (click)="presentSearchTechModal()">
                    <ion-label>show categories catalogue</ion-label>
                    <ion-icon item-left  name="ios-list" ></ion-icon>
                </ion-item>
            </ion-col>

            <ion-col width-50 *ngIf="literaturModel.length > 0">
                <div class="results">
                    <ion-label>{{tempLiterature.cattitle1}}</ion-label>
                    <ion-row  *ngFor="let lit of  literaturModel; let i=index">
                        <ion-col>
                            <ion-label>
                                {{ lit.subcatname }}
                              </ion-label>
                            <ion-list no-lines>
                                <ion-item  *ngFor="let subitem of lit.items; let si=index">
                                    <ion-label>
                                    {{subitem.brochurecode}}, {{subitem.brochuretitle}}</ion-label>
                                    <ion-icon item-left name="ios-eye" (click)="viewPdfOfSubCategory(subitem.file)" ></ion-icon>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>