<ion-content padding class="technicalbrochures">

    <div class="pageInnerContent">
        <!-- CONTENT TITLE -->
        <div class="contenttitle">
            <ion-title>Technical Brochures</ion-title>
        </div><!-- END CONTENT TITLE -->


        <ion-row>
            <ion-col width-50 style="padding-right: 100px">
                <ion-label>Select a category</ion-label>
                <ion-list>
                    <ion-item *ngFor="let item of techSearchBarData | orderByLit; let caati = index"
                              [ngClass]="{'selected' : caati == selectedRow}"
                              (tap)="presentSearchLitModal(item,caati)"
                              class="catbutton">
                        {{ item.cattitle1 }}
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col width-50 *ngIf="literaturModel.length > 0">
                <ion-label class="infolabel">{{tempLiterature.cattitle1}}</ion-label>
                <ion-row  *ngFor="let lit of  literaturModel; let i=index">
                    <ion-col>
                        <ion-label style="text-transform: uppercase; font-size: 1.5rem; white-space: normal">{{ lit.subcatname }}</ion-label>
                        <div *ngFor="let subitem of lit.items; let si=index" style="margin-bottom: 6px">
                            <img src="assets/img/downloadicon.png" (tap)="viewPdfOfSubCategory(subitem.file)" style="height: 25px; margin-right: 8px;"/>
                            <ion-label style="display: inline-block; margin: 2px;">{{subitem.brochurecode}}, {{subitem.brochuretitle}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </div>
</ion-content>